.jumbotron {
     background-color: black;
     color: white;
     font-family: sans-serif;
     padding-bottom: 100% !important;
     padding-top: 5px;
 }
 .list-group-item{
   background-color: black;
   border: 0px solid #ddd;
   color:red;
 }

.nav-tabs.nav-justified>li>a{
   border-bottom: none;
 border-radius: 5px;
 }
 
